html, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
}

h1, p {
  font-weight: lighter;
}

h1 {
  text-shadow: 3px 2px #bfbfbf;
  color: #303030;
}

p {
  font-size: 22px;
  color: #8c8c8c;
}

h1::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid #b3b3b3;
}

.pg-content {
  position: relative;
}

.ms-section {
  font-size: 30px;
  text-align: left;
  padding: 35px;
}

.second-left-slide, .fourth-left-slide {
  text-align: right;
}

.second-left-slide, .fourth-left-slide h1{
  text-align: right;
}

.ms-tableCell {
  padding: 0px 60px 0px 60px;
}


/*****************************/
/****** N A V  M E N U *******/
/*****************************/

.sidemenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(255,255,255,0.8);
    overflow-x: hidden;
    padding-top: 180px;
    font-weight: 500;
    transition: 0.5s ease-out;
    /*blurovati nav background*/
}

.sidemenu ul {
    padding-left: 20px;
    width: 80%;
}

.sidemenu a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #262626;
    display: block;
    white-space: nowrap;
    letter-spacing: 5px;
    margin-bottom: 30px;
    transition: 0.3s;
    text-shadow: 0 0 10px white;
}

.sidemenu a:hover {
    text-shadow: 0px 5px 10px #007383;
    transition-duration: 0.6s;
}


/*************************************************/
/************ LIST ITEMS ANIMATION ***************/
/*************************************************/

.sidemenu li {
    list-style: none;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
      filter: blur(10px);
      opacity: 0;
      transform: translateY(-20px);
    }

    80% {
      filter: blur(2px);
      opacity: 0.8;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}

.animate:nth-child(1) {
    animation-delay: 0.2s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
  }
.animate:nth-child(2) {
      animation-delay: 0.4s;
      animation-name: fadeIn;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
  }
.animate:nth-child(3) {
      animation-delay: 0.6s;
      animation-name: fadeIn;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
  }
.animate:nth-child(4) {
      animation-delay: 0.8s;
      animation-name: fadeIn;
      animation-duration: 0.4s;
      animation-fill-mode: forwards;
  }



/******************************/
/***** M E N U  I C O N *******/
/******************************/

.menu-container {
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 20px;
    top: 20px;
    transition: 0.5s;
    padding-bottom: 5px;
  }

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #154d51;
    margin: 6px 0;
    transition: 0.3s;
    opacity: 0.8;
}

.bars {
  box-shadow: 0 0 10px white;
}

.menu-container:hover .bars {
    background-color: black;
    box-shadow: 0 0 3px white;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}


/******************************/
/*** S L I D E  I M A G E S ***/
/******************************/

.first-left-slide {
  position: relative;
  background: url(../img/1.jpeg) no-repeat;
  background-position: center;
}

.second-right-slide {
  background: url(../img/2.jpeg) no-repeat;
  background-position: center;
}

.third-left-slide {
  background: url(../img/3.jpeg) no-repeat;
  background-position: center;
}

.fourth-right-slide {
  background: url(../img/4.jpeg) no-repeat;
  background-position: center;
}

.fifth-left-slide {
  background: url(../img/5faded.jpg) no-repeat;
  background-position: center;
}


/***************************************************/
/** T E X T  S E C T I O N S  B A C K G R O U N D **/
/***************************************************/

.first-right-slide {
  background: url(../img/bg3a.jpg) no-repeat;
  background-position: center;
}

.second-left-slide {
  background: url(../img/bg3a.jpg) no-repeat;
  background-position: center;
}

.third-right-slide {
  background: url(../img/bg3a.jpg) no-repeat;
  background-position: center;
}

.fourth-left-slide {
  background: url(../img/bg3a.jpg) no-repeat;
  background-position: center;
}

.fifth-right-slide {
  background: url(../img/bg3a.jpg) no-repeat;
  background-position: center;
}


/************************/
/******* L O G O ********/
/************************/

#logo-span {
  display: inline-block;
  position: absolute;
  z-index: 99999;
  width: 50px;
  height: auto;
  padding: 0;
  top: 60px;
  left: 12px;
}

.logo {
  width: 150px;
  height: auto;
  transition: 0.5s;
}

/*****************************/
/**** R E S P O N S I V E ****/
/*****************************/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}



/* DODATI NA SVAKOM SLAJDU GDE SE SIDEBAR PREKLAPA SA TEKSTOM
   VECI BACKGROUND OPACITY */

/* DODATI MEDIA QUERY GDE NAVBAR POSTAJE FIXED TOP UVEK VIDLJIV,
   A BODY BEZ IKAKVOG SCROLL EFEKTA */

/* DODATI LOADER ZBOG VELIKE KOLICINE SLIKA / SMANJITI VELICINU SLIKA */

/* TACKASTI MENI SA DESNE STRANE STAVITI U BOJU */
